<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" debug="OFF">
    <Properties>
        <Property name="LOG_PATTERN">[${project.artifactId}] [${hostName}] %d %p [%t] %C.%M(%L) | %m%n</Property>
    </Properties>
    <Appenders>
        <!-- 控制台日志输出 -->
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <!--在控制台只输出警告和错误日志信息-->
                <ThresholdFilter level="${logger.console.level.min}"/>
                <!--<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>-->
            </Filters>
        </Console>


        <!-- 错误日志记录，每个文件最大4M，最多纪录10个文件 -->
        <RollingFile name="errorLogs" fileName="E:\dingdang\errors.log"
                     filePattern="${logger.dir}/dingdang/errors.log.%i">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="WARN"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- 所有日志记录，每日一个文件 -->
        <RollingFile name="allLogs" fileName="${logger.dir}/erp/all.log"
                     filePattern="${logger.dir}/dingdang/all.log-%d{MM-dd-yyyy}">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

    </Appenders>
    <!-- 根logger的设置，若代码中未找到指定的logger，则会根据继承机制，使用根logger-->
    <Loggers>
        <Root level="${logger.level}">
            <AppenderRef ref="console"/>
            <AppenderRef ref="debugLogs"/>
            <AppenderRef ref="errorLogs"/>
            <AppenderRef ref="allLogs"/>
        </Root>
    </Loggers>
</Configuration>